.field {
    background-color: $color-background;
    display: block;
    width: 100%;

    .headlines {
        margin: 2rem 0;
    }

    .menu {
        border-top: 1px solid $font-color-primary;
        padding: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        box-shadow: 0 4px 4px lightgrey;
        width: 100%;
        flex-wrap: wrap;

        @media screen and (min-width: 769px) {
            flex-direction: row;
        }

        button, select {
            background-color: $button-background-color;
            border-radius: 0;
            border: none;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;
            border-radius: 0.5rem;
            transition: all .3s ease-in-out;
            display: flex;
            max-width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;

            @media screen and (min-width: 769px) {
                display: block;
            }

            @media screen and (min-width: 1280px){
                max-width: fit-content;
            }

            &:hover{
                box-shadow: 0 0 0.5rem 0 grey;
                cursor: pointer;
            }

            &:disabled {
                opacity: 0.75;

                &:hover{
                    box-shadow: unset;
                    cursor: unset;
                }
            }
        }

        button {
            padding: 1rem 2rem;
            background-position-x: center;
            color: transparent;
            background-repeat: no-repeat;
            background-position-y: center;
            width: calc(100%/3 - calc(2rem/3));
            height: fit-content;
            display: inline-flex;

            &.button-sort {
                background-image: url(./icons/play-svgrepo-com.svg);
                background-size: 3.5rem;
            }

            &.button-reset {
                background-image: url(./icons/reload-ui-2-svgrepo-com.svg);
                background-size: 2.5rem;
            }

            &.button-exit {
                background-image: url(./icons/process-stop-svgrepo-com.svg);
                background-size: 2.5rem;
            }


            &.button-exit, &.button-reset, &.button-sort {
                @media screen and (min-width: 769px){
                    background-image: unset;
                    color: $button-color;
                }
            }

        }

        select {
            color: $button-color;
            background-image: url(icons/arrow-short-down-svgrepo-com.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: calc(100% - 1rem);
            background-size: 2.5rem;
            padding: 1rem 3rem 1rem 1rem;
            width: 100%;

            &:focus {
                outline-style: none;
                box-shadow: 0 0 0.5rem 0 grey;
                border-color: transparent;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        margin: 2rem auto;

        .sort-bars {
            width: 100%;
            margin: 0 auto;
            display: flex;
            gap: 1px;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 1rem;
            background-color: $color-background-secondary;
            border-radius: 0.5rem;
    
            .bar {
                border-radius: 0.5rem;
                width: 4px;
                background-color: $color-yellow;

                @media screen and (min-width: 300px){
                    width: 3px;
                }

                @media screen and (min-width: 500px){
                    width: 5px;
                }
                
                @media screen and (min-width: 650px){
                    width: 8px;
                }

                @media screen and (min-width: 800px){
                    width: 10px;
                }

                @media screen and (min-width: 1000px){
                    width: 12px;
                }

                @media screen and (min-width: 1200px){
                    width: 14px;
                }
        
                &.red {
                    background-color: $color-red;
                }
                &.blue {
                    background-color: $color-blue;
                }
                &.sorted {
                    background-color: $color-green;
                }
            }
        }
    
        .algorithm-information {
            padding: 2rem;
            border-radius: 0.5rem;
            background-color: $color-background-tertiary;
            margin: 0 auto;
            margin: 0 auto;
            text-align: left;
            width: 100%;
    
            @media screen and (min-width: 1280px) {
                max-width: 50%;
            }
    
            .algorithm-name {
                margin-bottom: 1rem;
            }
    
            .stats {
                margin: 0 auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
    
                .row {
                    border: 2px solid $color-background;
                    border-radius: 0.5rem;
                    display: flex;
    
                    .cell {
                        border-radius: 0.5rem;
                        width: 50%;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}
