$font-color-primary: #2b2c34;
$font-color-base: #2b2c34;
$color-green: #90be6d;
$color-red: #f94144;
$color-blue: #277da1;
$color-yellow: #f8961e;
$color-background: #fffffe;
$color-background-secondary: #e9ecef;
$color-background-tertiary: #d1d1e9;
$button-background-color: #6246ea;
$button-color: #fffffe;

$font-size-xxl: 3.5rem;
$font-size-xl: 2.5rem;
$font-size-l: 1.5rem;
$font-size-m: 1rem;

$line-height-xxl: 4.5rem;
$line-height-xl: 3.5rem;
$line-height-l: 2.25rem;
$line-height-m: 1.5rem;
